@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    border-left: 3px solid #248cb8;
    padding-left: 17px;
}

form p {
    margin: 0 0 10px 0;
}

.wrapper {
    display: block;
    width: 450px;
    margin: 0 auto;
}

input[type=text] {
    width: calc(100% - 26px);
    display: block;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 10px 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
    transition: 0.2s;
    outline: none;
}

input[type=text]:focus,
input[type=text]:active {
    box-shadow: 1px 1px 5px rgba(0,0,0,0);
}

input[type=radio] {
    padding: 5px;
    margin-right: 5px;
}

input[type=submit] {
    display: block;
    width: 100px;
    font-weight: bold;
    background-color: #248cb8;
    border: none;
    color: #fff;
    border-radius: 25px;
    padding: 10px 16px;
    margin: 4px auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
    transition: 0.2s;
    outline: none;
}

input[type=submit]:focus,
input[type=submit]:active {
    box-shadow: 1px 1px 5px rgba(0,0,0,0);
}

.question {
    margin: 25px auto;
}

.answer {
    margin: 5px 0;
}

.fas, .fal {
    font-size: .8em;
}

.chosen-arrow {
    color: #888;
    margin: 0 4px;
}

.correct,
.incorrect,
.ungraded {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
}

.correct i,
.incorrect i,
.ungraded i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.correct {
    background-color: #6dc33a;
}

.incorrect {
    background-color: #bb1f2d;
}

.ungraded {
    background-color: #248cb8
}

#diagram {
    margin: -150px 0 0 -200px;
}